body{
  align-items: center;
  font-family: Lato;
  background-color: lightgrey;
}
h2{
  margin-top: 75px;
  margin-bottom: 45px;
  font-size: 32px;
  text-align: center
}
.box{
  background: white;
  width: 350px;
  height: 285px;
  margin: auto;
  text-align: center;
  padding: 35px;
  border: 1px solid;
  border-radius: 25px;
  -webkit-box-shadow: 21px 25px 25px -16px rgba(0,0,0,0.36);
  -moz-box-shadow: 21px 25px 25px -16px rgba(0,0,0,0.36);
  box-shadow: 21px 25px 25px -16px rgba(0,0,0,0.36);
}
.box input{
  border: 1px solid;
  padding: 3px;
  border-radius: 8px; 
}
.box button{
  padding: 10px;
  font-size: 14px;
  margin-top: 28px;
}